/*BasiC*/

/*1em = 16px*/

/* 16px is the basic size: therefore (90px font size / 16px) 100 for percentage = 562.5 percent  */

body {
  font-size: 1.5em;
  margin: 0px;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  font-size: 4.625em;
  margin-top: 0px;
  font-family: "Sacramento", cursive;
}

h2 {
  font-family: "Montserrat", sans-serif;
}

h3 {
  font-family: "Montserrat", sans-serif;
}

/*Classes*/
.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  top: 4%;
  right: 22%;
}

.bottom-cloud {
  position: absolute;
  left: 22%;
}
